body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.orange-color {
  color: orange;
}
.felxible {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  padding-left: 8%;
}
.half-width img {
  width: 80%;
}
.dream-big-half-width-right {
  padding-right: 10%;
}
.hire-me-btn {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: aliceblue;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 5px;
}
.hero {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.shadow-box {
  box-shadow: 15px 15px 35px gray;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 30px;
  border-radius: 5px;
}
.baby-developer {
  border-left: 5px solid orange;
}
.full-developer {
  border-left: 5px solid rgb(9, 196, 209);
}
.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
footer {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}
